@import "src/colors.scss";

.users {
    padding-top: 7em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .users-list-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        mat-card {
            margin-bottom: 1em;
            display: flex;
            justify-content: space-between;
            width: 80%;
            background-color: $gray;

            .container {
                display: flex;
                // flex-wrap: wrap;
                justify-content: space-between;
                width: 100%;
                .buttons-card {
                    display: flex;
                    button {
                        margin: 0.5em;
                        width: 3em;
                        height: 3em;
                        text-align: center;
                        // display: flex;
                        // justify-content: center;
                        // align-items: center;
                        
                    }

                    ::ng-deep .mat-fab .mat-button-wrapper {
                        padding: 0 !important;
                    }
                }
                .card-info {
                    // overflow-x: hidden;
                    // min-width: 10em;
                    // h2 {
                    //     font-size: 1.2vw;
                    // }
                    // display: block;
                    min-width: 13em;
                    h2 {
                        max-width: 30em;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
            }
        }
    }

    .buttons {
        display: flex;
        min-width: 20em;
        justify-content: center;

        .btn-add {
            height: 3.5em;
            // margin-right: 3.5em;
            // margin-bottom: 0.5em;
            width: 12em;
            margin: 0 1em 1.5em 1em;
        }
    }
}

@media (max-width: 425px) {
    .container {
        flex-wrap: wrap;
    }
    .buttons {
        width: 100%;
    }
}
