@import "src/colors.scss";

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 7em;
    padding-bottom: 1em;

    .card-detail {
        min-height: 39em;
        width: 60%;
        background-color: $gray;
    }

    .line-information {
        font-weight: 500;
        margin: 0;
    }

    .information {
        display: flex;
        justify-content: space-between;
        padding: 1em;
    }

    .card-header {
        // padding: 1em;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .card-header-info {
            span {
                text-align: center;
                margin: 1em 0 0 0;
                display: flex;
                // justify-content: center;
                align-items: center;

                mat-icon {
                    margin-right: 0.2em;
                }
            }
        }
    }

    .title {
        margin-bottom: 1em;

        min-width: 13em;
        h2 {
            max-width: 30em;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    button {
        height: 3.5em;
        width: 30%;
        max-width: 10em;
        min-width: 6em;
    }

    mat-card {
        margin-top: 1em;
    }
}

.mat-tab-labels {
    justify-content: space-around;
}
