<div class="center-content">
    <mat-card class="card-detail">
        <div class="card-header">
            <div class="title">
                <h2>{{user?.name}} {{user?.lastName}} {{user?.secondLastName}}</h2>
                
                <div class="card-header-info">
                    <span class="line-information"><mat-icon>info</mat-icon>ID: {{user?.id}}</span>
                    <span *ngIf="user?.patient.nhc != ''" class="line-information"><mat-icon>assignment_ind</mat-icon>Type: Patient</span>
                <span *ngIf="user?.professional.medicalBoardNumber != ''" class="line-information"><mat-icon>assignment_ind</mat-icon>Type: {{user?.professional.professionalType}}</span>
                </div>
                
            </div>
            <button routerLink="/users/{{user?.id}}/edit" mat-raised-button color="warn">Edit user</button>
        </div>
        <!-- <div class="information"> -->
            <mat-tab-group mat-stretch-tabs>
                <mat-tab label="Personal Information">
                    <p *ngIf="user?.patient.nhc != ''"  class="line-information">NHC</p>
                    <p *ngIf="user?.patient.nhc != ''">{{user?.patient.nhc}}</p>
                    <p class="line-information">Name</p>
                    <p>{{user?.name}}</p>
                    <p class="line-information">Lastname</p>
                    <p>{{user?.lastName}}</p>
                    <p class="line-information">Second lastname</p>
                    <p *ngIf="user?.secondLastName !== ''; else withoutDates">{{user?.secondLastName}}</p>
                    <p class="line-information">Gender</p>
                    <p *ngIf="user?.gender !== ''; else withoutDates">{{user?.gender}}</p>
                    <p class="line-information">NIF</p>
                    <p *ngIf="user?.nif !== ''; else withoutDates">{{user?.nif}}</p>
                    <p class="line-information">Birthdate</p>
                    <p *ngIf="user?.birthDate !== ''; else withoutDates">{{user?.birthDate | date: "dd/MM/yyyy"}}</p>
                    <ng-template #withoutDates>
                        <p>-</p>
                      </ng-template>
                </mat-tab>
                <mat-tab label="Address">
                    <p class="line-information">Street</p>
                    <p *ngIf="user?.address.street !== ''; else withoutDates">{{user?.address.street}}</p>
                    <p class="line-information">Number</p>
                    <p *ngIf="user?.address.number !== ''; else withoutDates">{{user?.address.number}}</p>
                    <p class="line-information">Door</p>
                    <p *ngIf="user?.address.door !== ''; else withoutDates">{{user?.address.door}}</p>
                    <p class="line-information">Postal code</p>
                    <p *ngIf="user?.address.postalCode !== ''; else withoutDates">{{user?.address.postalCode}}</p>
                </mat-tab>
                <mat-tab *ngIf="user?.patient.nhc != ''" label="Isurance information">
                    <mat-card *ngFor="let isurance of user?.patient.isuranceList">
                        <p class="line-information">Isurance name</p>
                        <p *ngIf="isurance.name !== ''; else withoutDates">{{isurance.name}}</p>
                        <p class="line-information">Isurance card number</p>
                        <p *ngIf="isurance.cardNumber !== ''; else withoutDates">{{isurance.cardNumber}}</p>
                        <p class="line-information">Isurance type</p>
                        <p *ngIf="isurance.type !== ''; else withoutDates">{{isurance.type}}</p>
                    </mat-card><br>
                </mat-tab>
                <mat-tab *ngIf="user?.professional.medicalBoardNumber != ''" label="More information">
                    <p class="line-information">Medical board number</p>
                    <p>{{user?.professional.medicalBoardNumber}}</p>
                    <p class="line-information">Professional type</p>
                    <p *ngIf="user?.professional.professionalType !== ''; else withoutDates">{{user?.professional.professionalType}}</p>
                </mat-tab>
            </mat-tab-group>
    </mat-card>
</div>